:root {
  /* 🌈 Base 16 Color Variables */
  --color0: #15130c;
  --color1: #333027;
  --color2: #ccc6b5;
  --color3: #cfc7a2;
  --color4: #e8e2d5;
  --color5: #ffb4ab;
  --color6: #504700;
  --color7: #e8e2d5;
  --color8: #f3e489;
  --color9: #15130c;
  --color10: #373100;
  --color11: #353117;
  --color12: #f3e489;
  --color13: #d6c871;
  --color14: #212017;
  --color15: #e8e2d5;
  --color16: #690005;
  --color17: #2c2a21;
  --color18: #d6c871;
  --color19: #294e3b;
  --color20: #a7d0b6;
  --color21: #113725;
  --color22: #37352c;
  --color23: #1d1c13;
  --color24: #15130c;
  --color13-r: 214;
  --color13-g: 200;
  --color13-b: 113;
  --color0-r: 21;
  --color0-g: 19;
  --color0-b: 12;
  --color2-r: 204;
  --color2-g: 198;
  --color2-b: 181;
  --color5-r: 255;
  --color5-g: 180;
  --color5-b: 171;
  --color6-r: 80;
  --color6-g: 71;
  --color6-b: 0;
  --color18-r: 214;
  --color18-g: 200;
  --color18-b: 113;
}

