:root {
  /* 🌈 Base 16 Color Variables */
  --color0: #0e1415;
  --color1: #2b3133;
  --color2: #bfc8ca;
  --color3: #b1cbd0;
  --color4: #dee3e5;
  --color5: #ffb4ab;
  --color6: #81d3e0;
  --color7: #dee3e5;
  --color8: #0e1415;
  --color9: #0e1415;
  --color10: #00363d;
  --color11: #1c3438;
  --color12: #9eeffd;
  --color13: #81d3e0;
  --color14: #1b2122;
  --color15: #dee3e5;
  --color16: #bac6ea;
}

